* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > .top-decor {
  width: 100%;
  height: 60px;
  background-color: rgb(0, 0, 0);
}

header > .bot-decor {
  width: 100%;
  height: 40px;
  background-color: rgb(189, 183, 216);
}

header > h1 {
  font-size: 100px;
  text-align: center;
  margin: 100px;
}

header > iframe {
  width: 1000px;
  height: 500px;
  margin-bottom: 100px;
}

header > h2 {
  font-size: 50px;
  margin-bottom: 50px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: black;
}
