* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;

  max-height: 858px;
}

.products img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;    
  margin-left: 200px;
}
