@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #fbead6;
    padding: 100px 64px 0 64px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    background-color: #2C2C2C;
    align-items: center;
    padding: 30px 30px 30px 30px ;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 45px;
}

.top-section > h1 {
    color: #fff;
    font-size: 45px;
}
